<p id="description">
  영화, 도서, 전시회 리뷰를 자유롭게 작성하세요.<br>
</p>

<hr>

<% @alls.each do |all| %>
  <div class="row">
    <p class="col-md-1 catalogue catalogue-title">
      <%= @sum %>
    </p>
    <p class="col catalogue">
      <%= link_to all.title, all, class: "col" %>
    </p>
  </div>
  <hr>
  <% @sum+=1 %>
<% end %>
